@import 'tailwindcss';

@theme {
  --color-gray-200: #e5e5e5;
  --color-gray-260: #717182;
  --color-gray-300: #ececf0;
  --color-gray-350: #a1a1a1;
  --color-gray-380: #717182;
  --color-gray-630: #1c1b29;
  --color-gray-650: #030213;
  --color-gray-700: #0a0a0a;
}
